/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


/*Main Background*/
#mainbg {
	background-color: rgba(10, 25, 47, 1.0);
}

/*Font Properties*/
* {
	font-family: 'montserrat', sans-serif;
	scroll-behavior: smooth;
}

/*nav bar code*/
#navbar1 {
	background-color: rgba(2,12,27,0.7);
}

#cid-logo-top {
	height: 5rem;
	width: 5rem;
}


/*welcome page code*/
#welcome-page {
	margin-bottom: 5rem;
	margin-top: 5rem;
	height: 70vh;

}

#welcome-page-1 {
	min-height: 20vh;
	font-size: clamp(1.7rem, 5vw, 5vh);
/*	height: 100%;*/
/*	width: 100%;*/
}



#welcome-page-3 {
	font-size: clamp(1rem, 1.7vw, 5vh);
}


/*About me code*/
#about-page {
	margin-bottom: 5rem;
/*	height: 60vh;*/

}


#img-ian {
	height: clamp(27vh, 35vh, 40vh);
	padding-bottom: 1rem;
}



/*Experience code*/
#exp-main {
	margin-bottom: 5rem;
/*	height: 70vh;*/
	
}

#collapse-smx {
	background-color: rgba(10, 25, 47, 1.0);
}


#smx-ul {
	list-style-type: none;
}

#alta-ul {
	list-style-type: none;
}


/*Contact form code*/

#contactme {
	background-color: rgba(2,12,27,0.7);
}

#form1 {
	background-color: rgba(2,12,27,0.7);
}

#facebook1 {
	height: 7rem;
	width: 12rem;
	border: none;
	margin: none;

}

#instagram1 {
	height: 7rem;
	width: 7rem;
}


#linkedin {
	height: 7rem;
	width: 7rem;
}


#cid-logo {
	height: 7rem;
	width: 7rem;
}


