@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@300;400;500;700&display=swap');

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


/*Main Background*/
#mainbg {
	background-color: rgba(10, 25, 47, 1.0);
}

/*Font Properties*/
* {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

/*nav bar code*/
#navbar1 {
	background-color: rgba(2, 12, 27, 0.7);
}


.nav1 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 6rem;
	color: rgb(98, 235, 207) !important;
}

.nav-link {
	font-weight: 500;
}

.resume {
	border: 1px solid white;
	border-radius: 0.5rem;
	color: rgb(98, 235, 207) !important;
	border-color: rgb(98, 235, 207);
}

.resume:hover {
	opacity: 50%;
	color: aliceblue !important;
}

.nav-link::first-letter {
	color: rgb(98, 235, 207);
}

.nav-link:hover {
	opacity: 50%;
	color: aliceblue !important;
}

#cid-logo-top {
	height: 4rem;
	width: 4rem;
}





/*welcome page code*/
#welcome-page {
	margin-bottom: 5rem;
	margin-top: 5rem;
	height: 70vh;
	width: 70%;

}

#welcome-page-1 {
	min-height: 20vh;
	font-size: clamp(1.6rem, 5vw, 4vh);
	/*	height: 100%;*/
	/*	width: 100%;*/
}



#welcome-page-3 {
	font-size: clamp(1rem, 1.7vw, 5vh);
}


/*About me code*/
#about-page {
	margin-bottom: 5rem;
	width: 70%;
}

.font-bold {
	font-weight: 700;
}


#img-ian {
	height: clamp(60vh, 45vh, 35vh);
	max-width: 100%;
	padding-bottom: 1rem;
	position: relative;
	z-index: 2;
	opacity: 1;
}

#img-ian::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: yellow;
	opacity: 0.7;
	z-index: 1;
}

#img-ian:hover::before {
	opacity: 0;
}

.center-image {
	display: flex;
	justify-content: center;
	align-items: center;
}



/*Experience code*/
#exp-main {
	margin-bottom: 5rem;
	/*	height: 70vh;*/
	width: 70%;

}

#collapse-smx {
	background-color: rgba(10, 25, 47, 1.0);
}


#smx-ul {
	/* list-style-type: none; */
	text-align: left;
}

#alta-ul {
	list-style-type: none;
}


/*Contact form code*/

#contactme {
	background-color: rgba(2, 12, 27, 0.7);
}

#form1 {
	background-color: rgba(2, 12, 27, 0.7);
}

#facebook1 {
	height: 3rem;
	width: 5rem;
	border: none;
	margin: none;

}

#instagram1 {
	height: 3rem;
	width: 3rem;
}


#linkedin {
	height: 3rem;
	width: 3rem;
}


#cid-logo {
	height: 5rem;
	width: 5rem;
}



/* .footer-style {
	writing-mode: vertical-lr;
    transform: rotate(-90deg) translateX(-100%);
    position: fixed;
    bottom: 0;
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    width: 100px;
    text-align: center;
  } */

  .social-icon {
	height: 50px;
	width: 50px;
	position: fixed;
	object-fit: cover;
  }
  
  #github {
	bottom: 260px;
	right: 20px;
  }
  
  #linkedin {
	bottom: 200px;
	right: 20px;
  }
  
  #facebook {
	bottom: 140px;
	right: 20px;
  }
  
  #insta {
	bottom: 80px;
	right: 20px;
  }
  
  /* targets the i tag */
  .social-icon i {
	color: rgb(98, 235, 207);
  }
  
  #social-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	/* display: none; */
  }


/* Small screen configurations */
@media screen and (max-width: 768px) {

	#welcome-page {
		width: 100%;
		height: 63vh;
	}

	.sm-size {
		font-size: 1.3rem;
	}

	#about-page {
		width: 90%;
	}

	#exp-main {
		width: 90%;
	}

	/* #contactme {
		width: 90%;
	} */

	#img-ian {
		height: 30vh;
	}

	.resume {
		width: 30%;
		margin: auto;
	}

	.nav1 {
		width: 100%;
	}

	.social-icons-container {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 100%;
		padding: 10px;
		/* background-color: rgba(0, 0, 0, 0.8); */
		z-index: 999;
		display: none;
		justify-content: center;
	  }
	
	  .social-icons-container.show {
		display: flex;
	  }
	
	  .social-icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	  }
	
	  .social-icons > div {
		margin: 10px;
	  }
	
	  #social-button {
		display: block;
		/* height: 50px;
		width: 50px; */
		right: 36px;
		animation: beat 2s ease-in-out infinite;
		
	  }

	  @keyframes beat {
		0% {
		  transform: scale(1);
		}
		50% {
		  transform: scale(1.2);
		}
		100% {
		  transform: scale(1);
		}
	  }

}